:root {
    --color-1: white;
    --color-2: #808080;
}

section {
    background-color: black;
}

.Container {
    max-width: 82%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.headerflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-right: 55px;
}

a {
    text-decoration: none;
    color: var(--color-2);
}

.nav-icon {
    display: none;
}

.nav-icon img {
    width: 28%;
    float: right;
}

.header {
    width: 50%;
    padding-top: 50px;
}

.heading {
    font-size: 35px;
    color: var(--color-1);
}

.heading p {
    width: 100%;
    font-size: 20px;
    color: var(--color-2);
    text-align: justify;
}

.textalign {
    text-align: justify;
}

.m-t-b {
    margin: 0;
}

.p-t-b {
    padding: 23px 0px;
}

.card {
    width: 43%;
}

.card-img {
    width: 528px;
}

.column {
    column-count: 2;
    column-gap: 14%;
    max-width: 100%;
}

.bg-article {
    background-color: #808080;
}

button {
    background-color: red;
    padding: 13px;
    font-size: medium;
}

.img-footer {
    padding-left: 38px;
}

@media screen and (max-width:1024px) {
    .card-img {
        width: 356px;
    }
}

@media screen and (max-width:768px) {
    .flex {
        display: block;
    }

    .header,
    .card,
    .card img {
        width: 100%;
    }
    .s-p-a{
        justify-content: space-around;
    }
    .nav-links,
    .headerbutton {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .column {
        column-count: 1;
    }
}